# macOS system files
.DS_Store

# MATLAB backup and autosave files
*.asv  # AutoSave files
*.m~   # MATLAB backup files
Thesis/CompareFlumeDataV2.asv
Thesis/MaxDataAnalysis.asv
Thesis/MaxDataAnalysis.asv
